<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lista de Rebanhos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card  *ngFor="let rebanho of rebanhos">

    <ion-item (click)="abrirDashboardRebanho(rebanho)">
      <ion-thumbnail item-start>
          <img src="{{ rebanho.background }}">
      </ion-thumbnail>
      <h2>{{ rebanho.descricao }}</h2>
      <p>{{ rebanho.quantidade }} Cabeças de {{ rebanho.tipo }}</p>
      <p *ngIf="!rebanho.momentoVendaSelecionado">Momento da venda não escolhido</p>
      <p *ngIf="rebanho.momentoVendaSelecionado">Venda estimada para {{ rebanho.mesVendaSelecionado }}</p>
      
    </ion-item>

  </ion-card>

  <ion-fab bottom right>
    <button ion-fab (click)="addRebanho()" color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
