<ion-header>

  <ion-navbar color="primary">
    <ion-title>Detalhes do Rebanho</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-card>
    <img src="{{ rebanho.background }}" />
    <ion-card-content>
      <ion-card-title>
        {{ rebanho.descricao }}
      </ion-card-title>

      <p>{{ rebanho.tipo }} - {{ rebanho.raca }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Crescimento do Rebanho
      </ion-card-title>
      <ion-item>
        <ion-label item-start>Quantidade:</ion-label> 
        <ion-label item-end>{{ rebanho.quantidade }} Cabeças</ion-label>
      </ion-item>

      <ion-item>
          <ion-label item-start>Idade:</ion-label> 
          <ion-label item-end>{{ rebanho.idade }} meses</ion-label>
      </ion-item>  
      <ion-item>
          <ion-label item-start>Peso médio atual:</ion-label> 
          <ion-label item-end>{{ rebanho.pesoMedio }} Arrobas</ion-label>
      </ion-item> 
      <ion-item>
          <ion-label item-start>% Completude:</ion-label> 
          <ion-label item-end>{{rebanho.porcentagemPronto}} % pronto</ion-label>
      </ion-item> 
      <ion-item>
          <ion-label item-start>Engorda mensal:</ion-label> 
          <ion-label item-end>{{ rebanho.mediaEngordaMensal }} Arrobas</ion-label>
      </ion-item>  
      <button ion-button full (click)="registrarPeso()">Registrar peso</button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Momento da Venda
      </ion-card-title>
      <ion-list *ngIf="!rebanho.momentoVendaSelecionado">
          <ion-item>
              <ion-label>Momento da venda não escolhido</ion-label>
          </ion-item>        
      </ion-list>
      <ion-list *ngIf="rebanho.momentoVendaSelecionado">
        <ion-item>
            <ion-label item-start>Venda estimado</ion-label>
            <ion-badge item-end>{{ rebanho.mesVendaSelecionado }}</ion-badge>
        </ion-item>        
        <ion-item>
           <ion-label item-start>Valor:</ion-label>
           <ion-badge item-end>R$ {{ rebanho.frigorifico.valorPorArroba }}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label item-start>Pagamento:</ion-label>
          <ion-badge item-end color="danger">{{ rebanho.frigorifico.formaPagamento }}</ion-badge>
        </ion-item>
        <ion-item>
          <ion-label item-start>Lucro Total:</ion-label>
          <ion-badge item-end color="secondary">R$ {{ rebanho.frigorifico.lucroTotal }}</ion-badge>
        </ion-item>
        <ion-item>
            <ion-label item-start>Engorda Mensal:</ion-label>
            <ion-badge item-end color="secondary">0,8 arrobas</ion-badge>
          </ion-item>        
      </ion-list>
      <button ion-button color="danger" full (click)="verMomentoVenda()">Ver opções de venda</button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>
        Custos
      </ion-card-title>
      <p>Você gastou até o momento R$ {{ total }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>